/*-----------------------------------------------------------*/
.rating {
    display: inline-block !important;
    unicode-bidi: bidi-override;
    color: transparent !important;
    font-size: 22px !important;
    /*height: 25px;*/
    width: auto;
    margin: 0 40px 0 0;
    position: relative;
    padding: 0;
    /*margin-right: 40px;*/
}

.rating:before {
    position: absolute;
    right: -27px;
    top: 19px;
    height: 1px;
    width: 4px;
    background: #E1DEDE;
    content: "";
}

.rating-upper {
    color: #F09D17 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex !important;;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 22px !important;
}

.rating-lower {
    padding: 0;
    display: flex !important;
    z-index: 0;
    font-size: 22px !important;
}

/*-----------------------------------------------------------*/

a#readMore {
    line-height: 18px;
    margin-top: 10px;
    font-weight: bold;
}

a#readMore:hover {
    cursor: pointer;
}

.share-btn, a {
    transition: all .2s;
}

.share-btn:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    color: #FFFFFF;
}

a:hover, a:focus {
    color: #000000;
}

.list-group-item.category-item {
    /*padding: 0.45rem 1.25rem;*/
    padding: 1px;
}

.list-group.category-list {
    line-height: 25px;
}

.category-icon {
    background: rgba(27, 40, 56, 0.95);
    float: left;
}

.category-link {
    margin-left: 30px;
    color: #323232;
}

.most__search__tab-requirements .nav {
    justify-content: normal;
}

.bb_ul {
    text-align: left;
    list-style-type: none;
    font-size: 14px;
}

.bb_tag {
    color: #323232;
    font-weight: 600;
    margin-bottom: 18px;
    font-size: 20px;
}

.listing__hero__icon img {
    background-color: rgba(0, 0, 0, 0.6);
}

div.read-more img {
    background-color: rgba(0, 0, 0, 0.6);
}

#game-name-select {
    border-radius: 0;
}

p {
    transition: all .2s;
}

p#showMore {
    color: black;
}

p#showMore:hover {
    cursor: pointer;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-steam-deck {
    padding: 0 0.75rem;
}

.btn-steam-deck:hover {
    cursor: default !important;
}

.game-search-link {
    color: #000000;
}

.easy-autocomplete-container > ul > li {
    border-bottom: 1px solid rgba(221, 221, 221, 0.4);
}

.hero__text .hero__categories__tags li a {
    transition: all .2s;
}

.hero__text .hero__categories__tags li a:hover {
    border: 1px solid #8d8d8d;
}